/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}


body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.intro{
  background: url("../img/bg-img/intro.png") no-repeat center;
  background-size: cover;
  height: 90vh;
  min-height: 200px;
  min-width: 320px;
  background-color: #28975F;
}

.intro__text{
  max-width: 300px;
  float: right;
  margin-top: 15%;
  margin-right: 10%;
}

.intro__title{
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900px;
  letter-spacing: 0.5rem;
}

.intro__title span{
  text-transform: lowercase;
  font-size: 72;
  color: transparent;
}

.e{
  width: 3%;
  position: absolute;
  left: 42%;
  top: 42%;
  animation: bubblesMain 8s infinite linear;
}

.e2, .e3, .e4, .e5, .e6, .e7, .e8, .e9, .e10, .e11, .e12{
  transform: scale(0);
} 

.e.e10, .e.e11{
  animation: bubblesAdd-l 4s infinite linear;
}

.e.e11{
  animation: bubblesAdd-r 4s infinite linear;
}


.e2{
  animation-delay: 1s;
}

.e3{
  animation-delay: 2s;
}
.e4{
 
  animation-delay: 3s;
}

.e5{
  animation-delay: 4s;
}
.e6{
  animation-delay: 5s;
}

.e7{
  animation-delay: 5.3s;
}

.e8{
  animation-delay: 6s;
}
.e9{
  animation-delay: 7s;
}

.e10{
  animation-delay: 8s;
}

.e11{
  animation-delay: 3.5s;
}

.e12{
  animation-delay: 8.5s;
}


@keyframes bubblesMain{
    
  0% {
      transform: scale(0.5) rotate(135deg);
  }
  
  20% {
      transform: translate(-80px, -40px) scale(0.75) rotate(60deg);
  }

  40% {
      transform: translate(-30px, -80px) scale(1) rotate(120deg);
  }

  80% {
      transform: translate(-10px, -330px) scale(1.25) rotate(360deg); 
  }

  100%{
      transform:  translate(-320px, -480px) scale(3);
  }
}


@keyframes bubblesAdd-l{
    
  0% {
      transform: scale(0.5) rotate(135deg);
  }
  
  20% {
      transform: translate(-80px, -40px) scale(0.75) rotate(60deg);
  }

  40% {
      transform: translate(-160px, -270px) scale(2) rotate(120deg);
  }

  100%{
      transform:  translate(-320px, -160px) scale(0);
  }
}


@keyframes bubblesAdd-r{
    
  0% {
    transform: scale(0.5) rotate(135deg);
}

  20% {
      transform: translate(-80px, -40px) scale(0.75) rotate(60deg);
  }

  40% {
      transform: translate(-30px, -80px) scale(1) rotate(120deg);
  }

  80% {
      transform: translate(80px, -270px) scale(2) rotate(180deg); 
  }

  100%{
      transform:  translate(160px, -240px) scale(0);
  }
}


.subtitle{
  font-size: 36px;
  color: #622BDC;
  font-weight: 700;
  margin-bottom: 30px;
}

.intro__text1, .intro__text2{
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.intro__btn{
  padding: 10px 0;
  background-color: #E0D436;
  text-align: center;
  cursor: pointer;
  transition: all .2s linear;
}

.intro__btn a{
  color: #000;
  text-decoration: none;
  font-weight: 700;
}


.intro__btn:hover{
  background-color: #ada531;
}

.q1, .q2, .q3, .q4, .q5, .q6{
  position: relative;
}

.q1{
  background: url("../img/bg-img/bg1.png") no-repeat;
  background-size: cover;
  height: 75vh;
  width: 100%;
  min-height: 190px;
}

.q2{
  background: url("../img/bg-img/bg2.png") no-repeat center;
  background-size: cover;
  height: 75vh;
  width: 100%;
 
}
.q3{
  background: url("../img/bg-img/bg3.png") no-repeat center;
  background-size: cover;
  height: 75vh;
  width: 100%;
}
.q4{
  background: url("../img/bg-img/bg4.png") no-repeat center;
  background-size: cover;
  height: 75vh;
  width: 100%;
}
.q5{
  background: url("../img/bg-img/bg5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-blend-mode: color;
  
  height: 75vh;
  
}
.q6{
  background: url("../img/bg-img/bg6.png") no-repeat center;
  background-size: cover;
  height: 75vh;
  width: 100%;
}


.quest1, .quest2, .quest3, .quest4, .quest5, .quest6{
  position: absolute;
  bottom: 10%;
  left: 12%;
  width: 50%;
  z-index: 1;
  font-size: 18px;
  font-weight: 700;
  color: #fff
}

.form_radio {
	margin-bottom: 20px;
}

.form_radio:last-child{
  margin-bottom: 0;
}

.form_radio input[type=radio] {
	display: none;
}
.form_radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
  user-select: none;
  background: url("../img/check/circle.png") 0 0 no-repeat;
  height: 50%;
}

/* Checked */
.form_radio input[type=radio]:checked + label {
  height: 20px;
}

.form_radio.form_radio-r input[type=radio]:checked + label {
  background: url("../img/check/checked/checked-r.png") 0 0 no-repeat;
}

.form_radio.form_radio-g input[type=radio]:checked + label {
  background: url("../img/check/checked/checked-g.png") 0 0 no-repeat;
}

.form_radio.form_radio-b input[type=radio]:checked + label {
  background: url("../img/check/checked/checked-b.png") 0 0 no-repeat;
}
 
.form_radio.form_radio-o input[type=radio]:checked + label {
  background: url("../img/check/checked/checked-o.png") 0 0 no-repeat;
}
/* Hover */

 
/* Disabled */
.form_radio input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}



.btn{
  position: absolute;
  left: 50%;
  bottom: 2%;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 700;
  background-color: #475DEB;
  color: #fff;
  text-transform: uppercase;
  transition: all .2s linear;
}

.btn:hover{
  background-color: rgb(20, 51, 119);
}

.mail{
  background: url("../img/bg-img/mail.png") no-repeat center;
  background-size: cover;
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mail__input1 {
  margin-top: 15%;
}

.mail__input2{
  border: 1px solid #fff;
  padding: 15px 60px;
  background-color: #DF645B;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.btn.btn2{
  margin-top: 45px;
  position: static;
}

.result1 {
  background: url("../img/bg-img/result1.png") no-repeat center;
  background-size: cover;
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
}


.result2 {
  background: url("../img/bg-img/result2.png") no-repeat center;
  background-size: cover;
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.result3 {
  background: url("../img/bg-img/result3.png") no-repeat center;
  background-size: cover;
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.result__inner{
  width: 40%;
  color: #000;
  margin-left: 80px;
  margin-top: 110px;
}

.result__title{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 70px;
}

.result__title-b{
  color: #475DEB;
}

.result__title-o{
  color: #FFA436;
}

.result__title-r{
  color: #DF645B
}

.text__inner{
  background-color: #E0D436;
  padding: 10px 20px;
}

.result__text{
  font-size: 18px;
  margin-bottom: 40px;
}

.result__text.lower{
  font-size: 22px;
  margin-bottom: 40px;
}

.result__footer{
  font-size: 22px;
}

.idea_crock{
  color: inherit;
  transition: all .2s linear;
}

.idea_crock:hover {
  color: rgb(20, 51, 119);
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
