/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: Crock; /* Гарнитура шрифта */
  src: url("../fonts/crock1.otf"); /* Путь к файлу со шрифтом */
 }

body{
  font-family: Crock, sans-serif;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*------------- intro ---------------*/

.intro{
  background: url("../img/bg-img/intro-bg.png") center no-repeat;
  background-size: cover;
  background-color: #28975F;
}

.intro__img{
  max-width: 750px;
  width: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.logo{
  padding: 2% 0 0 2%;
}

.intro__article{
  position: absolute;
  bottom: 15%;
  right: 10%;
  max-width: 300px;
}

.intro__title{
  text-align: center;
  font-size: 72px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  letter-spacing: .2rem;
}

.intro__title span{
  text-transform: lowercase;
  font-size: 72;
  color: transparent;
}

.subtitle{
  font-size: 36px;
  color: #622BDC;
  font-weight: 700;
  margin-bottom: 30px;
}

.intro__text-upper, .intro__text-lower{
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.intro__btn{
  font-size: 18px;
  padding: 10px 0;
  background-color: #E0D436;
  text-align: center;
  cursor: pointer;
  transition: all .2s linear;
}

.intro__btn a{
  color: #000;
  text-decoration: none;
  font-weight: 700;
}


.intro__btn:hover{
  background-color: #ada531;
}


/*------------ bubbles -------------*/

.e{
  width: 3%;
  position: absolute;
  left: 44%;
  top: 48%;
  animation: bubblesMain 8s infinite linear;
}

.e2, .e3, .e4, .e5, .e6, .e7, .e8, .e9, .e10, .e11, .e12{
  transform: scale(0);
} 

.e.e10, .e.e11{
  animation: bubblesAdd-l 4s infinite linear;
}

.e.e11{
  animation: bubblesAdd-r 4s infinite linear;
}

.e2{
  animation-delay: 1s;
}

.e3{
  animation-delay: 2s;
}
.e4{
 
  animation-delay: 3s;
}

.e5{
  animation-delay: 4s;
}
.e6{
  animation-delay: 5s;
}

.e7{
  animation-delay: 5.3s;
}

.e8{
  animation-delay: 6s;
}
.e9{
  animation-delay: 7s;
}

.e10{
  animation-delay: 8s;
}

.e11{
  animation-delay: 3.5s;
}

.e12{
  animation-delay: 8.5s;
}

/*----------------- bubbles animation -------------*/

@keyframes bubblesMain{
    
  0% {
      transform: scale(0.5) rotate(135deg);
  }
  
  20% {
      transform: translate(-100px, -80px) scale(0.75) rotate(60deg);
  }

  40% {
      transform: translate(-35px, -100px) scale(1) rotate(120deg);
  }

  80% {
      transform: translate(-20px, -350px) scale(1.25) rotate(360deg); 
  }

  100%{
      transform:  translate(-320px, -480px) scale(3);
  }
}


@keyframes bubblesAdd-l{
    
  0% {
      transform: scale(0.5) rotate(135deg);
  }
  
  20% {
      transform: translate(-80px, -40px) scale(0.75) rotate(60deg);
  }

  40% {
      transform: translate(-160px, -270px) scale(2) rotate(120deg);
  }

  100%{
      transform:  translate(-320px, -160px) scale(0);
  }
}


@keyframes bubblesAdd-r{
    
  0% {
    transform: scale(0.5) rotate(135deg);
}

  20% {
      transform: translate(-80px, -40px) scale(0.75) rotate(60deg);
  }

  40% {
      transform: translate(-30px, -80px) scale(1) rotate(120deg);
  }

  80% {
      transform: translate(80px, -270px) scale(2) rotate(180deg); 
  }

  100%{
      transform:  translate(160px, -240px) scale(0);
  }
}

/*------------------- papper --------------------*/

.papper{
  position: absolute;
  top: 20%;
  right: -10%;
  transform: rotate(-45deg);
  animation: papper 3s infinite linear;
}

/*----------------- papper animation -------------------*/

@keyframes papper{
    0% {
      transform: rotate(180deg);
    }

    30% {
      transform: translate(-150px, 400px) rotate(360deg)scale(1.1);
    }

    60% {
      transform: translate(-250px, 520px) rotate(540deg) scale(1.1);
    }

    100% {
      transform: translate(-122px, 700px) rotate(720deg) scale(1.1);
    }


}


/*----------------- section -----------------*/

.intro, .q1, .q2, .q3, .q4, .q5, .q6, .mail, .result1, .result2, .result3 {
  position: relative;
  height: 90vh;
  min-height: 800px;
  overflow: hidden;
}

.mail, .result1, .result2, .result3{
  height: 75vh;
}

.q1{
  background: url("../img/bg-img/bg1.png") no-repeat center;
  background-size: cover;
}

.q2{
  background: url("../img/bg-img/bg2.png") no-repeat center;
  background-size: cover;
}
.q3{
  background: url("../img/bg-img/bg3.png") no-repeat center;
  background-size: cover;
}
.q4{
  background: url("../img/bg-img/bg4.png") no-repeat center;
  background-size: cover;
}

.q5{
  background: url("../img/bg-img/bg5.png") no-repeat center;
  background-size: cover;
}

.q6{
  background: url("../img/bg-img/bg6.png") no-repeat center;
  background-size: cover;
}

.mail{
  background: url("../img/bg-img/mail-bg.png") no-repeat center;
  background-size: cover;
}


.result1 {
  background: url("../img/bg-img/result1.png") no-repeat center;
  background-size: cover;
}


.result2 {
  background: url("../img/bg-img/result2.png") no-repeat center;
  background-size: cover;
}

.result3 {
  background: url("../img/bg-img/result3.png") no-repeat center;
  background-size: cover;
}

/*-------------------- wrapper --------------*/

.wrapper{
  margin-top: 2%;
  margin-left: 3%;
}

/*--------------- question ------------------*/

.quest1, .quest2, .quest3, .quest4, .quest5, .quest6{
  margin-left: 10%;
  
  width: 60%;
  z-index: 1;
  font-size: 18px;
  font-weight: 700;
  color: #fff
}

.quest3, .quest4{
  margin-top: 10%;
}

/*----------------- form -----------------------*/

.form_radio {
	margin-bottom: 30px;
}

.form_radio:last-child{
  margin-bottom: 0;
}

.form_radio input[type=radio] {
	display: none;
}
.form_radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
  user-select: none;
  background: url("../img/check/circle.png") 0 0 no-repeat;
  height: 50%;
}


/*------------------- form checked -----------------------*/

.form_radio input[type=radio]:checked + label {
  height: 25px;
}

.form_radio.form_radio-r input[type=radio]:checked + label {
  background: url("../img/check/checked/checked-r.png") 0 0 no-repeat;
}

.form_radio.form_radio-g input[type=radio]:checked + label {
  background: url("../img/check/checked/checked-g.png") 0 0 no-repeat;
}

.form_radio.form_radio-b input[type=radio]:checked + label {
  background: url("../img/check/checked/checked-b.png") 0 0 no-repeat;
}
 
.form_radio.form_radio-o input[type=radio]:checked + label {
  background: url("../img/check/checked/checked-o.png") 0 0 no-repeat;
}

/* ---------------------------------- */
.btn__result{
  position: absolute;
  left: 43%;
  bottom: 2%;
  border: none;
}

/*---------------------- mail --------------------------*/

.mail__inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 40%;
  margin: 0 auto;
}


.mail__wrapper {
  margin-top: 5%;
}

.mail__input {
  border: 1px solid #fff;
  padding: 10px 30px;
  background-color: #DF645B;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;

}

.btn:hover{
  background-color: rgb(20, 51, 119);
}


.btn__mail{
  margin-top: 45px;
}

/*------------------ btn styles -----------------*/

.btn{
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 700;
  background-color: #475DEB;
  color: #fff;
  text-transform: uppercase;
  transition: all .2s linear;
}

/*------------------ result text ---------------*/

.result__inner{
  width: 40%;
  color: #fff;
  margin-left: 80px;
  margin-top: 50px;
}

.result__counter{
  font-size: 48px;
  margin-bottom: 80px;
}

.result__title{
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 70px;
}

.result__title-b{
  color: #475DEB;
}

.result__title-o{
  color: #FFA436;
}

.result__title-r{
  color: #DF645B
}

.result__text{
  font-size: 18px;
  margin-bottom: 40px;
}

.result__text.lower{
  font-size: 22px;
  margin-bottom: 40px;
}

.result__footer{
  font-size: 22px;
}

.idea__crock{
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  transition: all .2s linear;
}

.idea__crock.idea__crock-b:hover {
  color: rgb(20, 51, 119);
  border-bottom-color: rgb(20, 51, 119);
}

.idea__crock.idea__crock-o:hover{
  color: #c98031;
  border-bottom-color: #c98031;
}

.idea__crock.idea__crock-r:hover{
  color: #a84a48;
  border-bottom-color: #a84a48;
}




/*----------------- media 1230px--------------*/


@media (max-width: 1230px){

}

/*----------------- media 1030px--------------*/

@media (max-width: 1030px){

  /*---------------- section ------------*/

  .intro, .q1, .q2, .q3, .q4, .q5, .q6{
    height: 55vh;
    min-height: 750px;
  }
  
  /*---------------- wrapper ------------*/

  .wrapper{
    width: 80%;
  }

}

/*----------------- media 990px--------------*/

@media (max-width: 990px){

  /*--------------- intro ---------------*/

  .intro{
    height: 45vh;
    min-height: 600px;
  }

  .subtitle{
    font-size: 28px;
    margin-bottom: 15px;
  }

  .intro__text-upper, .intro__text-lower{
    margin-bottom: 15px;
    font-size: 16px;
  }

  .result__inner{
    width: 70%;
    margin-left: 40px;
    margin-top: 80px;
  }



}

/*----------------- media 770px--------------*/

@media (max-width: 770px){

  /*---------------- section --------------------*/

  .q1, .q2, .q3, .q4, .q5, .q6{
    height: 40vh;
    min-height: 700px;
  }
  .intro{
    height: 35vh;
    min-height: 450px;
  }

  /*---------------- intro text --------------------*/

  .intro__text{
    max-width: 200px;
  }

  .subtitle{
    font-size: 18px;
    margin-bottom: 10px;
  }

  .intro__text-upper, .intro__text-lower{
    margin-bottom: 10px;
    font-size: 12px;
  }

  /*----------------- wrapper ---------------*/

  .wrapper{
    width: 95%;
  }

  /*----------------- question ------------------*/

  .quest1, .quest2, .quest4, .quest5 {
    width: 90%;
  }
  .quest6, .quest6{
    width: 80%;
  }

  /* animation */

  .e, .papper{
    display: none;
  }

}

/*----------------- media 545px--------------*/

@media (max-width: 545px){
  /*---------------- section ------------------*/

  .intro, .q1, .q2, .q3, .q4, .q5, .q6{
    height: 40vh;
    min-height: 460px;
  }
  
  .intro{
    height: 30vh;
    min-height: 350px;
  }

  .quest1, .quest2, .quest3, .quest4, .quest5, .quest6{
    margin-left: 5%;
    font-size: 12px;
  }

  .quest5{
    width: 90%;
  }

  /*--------------- intro text ---------------*/

  .intro__title{
    font-size: 28px;
  }

  .intro__article{
    position: absolute;
    bottom: 50%;
    right: 50%;
    max-width: 1200px;
  }

  /*--------------- wrapper ------------------*/

  .wrapper{
    margin-top: 10px;
  }

  /*--------------- form --------------------*/

  .form_radio{
    margin-bottom: 15px;
  }

  /*-------------- btn__result --------------*/

  .btn__result{
    left: 25%;
  }

  /*-------------- result ------------99-----*/

  .result__inner{
    width: 95%;
    margin-left: 0;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
  }

  .result__title{
    font-size: 38px;
  }

  .result__counter{
    font-size: 32px;
  }

  .result__text.lower, .result__footer{
    font-size: 16px;
  }

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
