<!doctype html>
<html class="no-js" lang="ru">

<head>
  <meta charset="utf-8">
  <title>Crock</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="../site.webmanifest">
  <link rel="apple-touch-icon" href="../icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="../public/css/normalize.css">
  <link rel="stylesheet" href="../public/css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <section class="intro">
    <div class="container">


      <div class="intro__title">
        Ид<span>e</span>и Крок
      </div>

      <!-- bubbles -->

      <object type="image/svg+xml" data="../public/img/animation/e.svg" class="e e1">
      </object>

      <object type="image/svg+xml" data="../public/img/animation/e.svg" class="e e2">
      </object>

      <object type="image/svg+xml" data="../public/img/animation/e.svg" class="e e3">
      </object>

      <object type="image/svg+xml" data="../public/img/animation/e.svg" class="e e4">
      </object>

      <object type="image/svg+xml" data="../public/img/animation/e.svg" class="e e5">
      </object>

      <object type="image/svg+xml" data="../public/img/animation/e.svg" class="e e6">
      </object>

      <object type="image/svg+xml" data="../public/img/animation/e.svg" class="e e7">
      </object>

      <object type="image/svg+xml" data="../public/img/animation/e.svg" class="e e8">
      </object>

      <object type="image/svg+xml" data="../public/imganimation/e.svg" class="e e9">
      </object>

      <object type="image/svg+xml" data="../public/img/animation/e.svg" class="e e10">
      </object>

      <object type="image/svg+xml" data="../public/img/animation/e.svg" class="e e11">
      </object>

      <object type="image/svg+xml" data="../public/img/animation/e.svg" class="e e12">
      </object>

      <div class="intro__inner">
        <img class="intro__img" src="../public/img/bg-img/fish.png" alt="">

        <div class="intro__article">
          <div class="subtitle">Привет!</div>

          <div class="intro__text-upper">
                В КРОК давно принято генерить идеи
                и предлагать новые подходы.
          </div>

          <div class="intro__text-lower">
                Пройди тест и узнай справился бы
                ты с вызовами, которые решили
                твои коллеги.
          </div>

          <div class="intro__btn">
            <a href="#">Пройти тест!</a>
          </div>
        </div>
      </div>
    
    </div> <!-- container -->
  </section> <!-- intro -->

  <section class="q1">
    <div class="container">

      <img class="wrapper" src="../public/img/bg-img/wrapper1.png" alt="">

      <form class="quest1" id="form_radio1">
        <div class="form_radio form_radio-r">
          <input v-on:click="no" id="quest1-1" type="radio" name="quest1" value="1">
          <label for="quest1-1">Заменить платы на китайскую альтернативу</label>
        </div>

        <div class="form_radio form_radio-r">
          <input v-on:click="yes" id="quest1-2" type="radio" name="quest1" value="2">
          <label for="quest1-2">Перепаять микросхемы</label>
        </div>

        <div class="form_radio form_radio-r">
          <input v-on:click="no" id="quest1-3" type="radio" name="quest1" value="3">
          <label for="quest1-3">Доказать, что проблема не на нашей стороне</label>
        </div>

        <div class="form_radio form_radio-r">
          <input v-on:click="no" id="quest1-4" type="radio" name="quest1" value="4">
          <label for="quest1-4">Вызвать Гаечку, чтобы она все пофиксила</label>
        </div>
      </form>

    </div> <!-- /container -->
  </section> <!-- /q1 -->

  <section class="q2">
    <div class="container">

      <div class="logo">
        <a href="#"><img src="../public/img/logo.png" alt=""></a>
      </div>

      <img class="wrapper" src="../public/img/bg-img/wrapper2.png" alt="">

      <form class="quest2" id="form_radio2">
        <div class="form_radio form_radio-g">
          <input v-on:click="yes" id="quest2-1" type="radio" name="quest2" value="1">
          <label for="quest2-1">Внедрение беспроводных датчиков для создания карты
          температуры и настройки системы кондиционирования</label>
        </div>

        <div class="form_radio form_radio-g">
          <input v-on:click="no" id="quest2-2" type="radio" name="quest2" value="2">
          <label for="quest2-2">Создание умной системы кондиционирования</label>
        </div>

        <div class="form_radio form_radio-g">
          <input v-on:click="no" id="quest2-3" type="radio" name="quest2" value="3">
          <label for="quest2-3">Прием нового сотрудника, который отслеживает перегревы</label>
        </div>

        <div class="form_radio form_radio-g">
          <input v-on:click="no" id="quest2-4" type="radio" name="quest2" value="4">
          <label for="quest2-4">Слишком сложно, до свидания</label>
        </div>
      </form>

    </div> <!-- /container -->
  </section> <!-- /q2 -->

  <section class="q3">
    <div class="container">

      <img class="wrapper"src="../public/img/bg-img/wrapper3.png" alt="">

      <form class="quest3" id="form_radio3">
        <div class="form_radio form_radio-b">
          <input v-on:click="yes" id="quest3-1" type="radio" name="quest3" value="1">
          <label for="quest3-1">Спросить в Флудилке КРОК, там всегда помогут</label>
        </div>

        <div class="form_radio form_radio-b">
          <input v-on:click="no" id="quest3-2" type="radio" name="quest3" value="2">
          <label for="quest3-2">Написать админам в корпоративном канале для сотрудников @crocnews</label>
        </div>

        <div class="form_radio form_radio-b">
          <input v-on:click="no" id="quest3-3" type="radio" name="quest3" value="2">
          <label for="quest3-3">Написать админам в корпоративном внешнем канале @crocitnow</label>
        </div>

        <div class="form_radio form_radio-b">
          <input v-on:click="no" id="quest3-4" type="radio" name="quest3" value="4">
          <label for="quest3-4">Создать корпоративного бота @croclive</label>
        </div>
      </form>

    </div> <!-- /container -->
  </section> <!-- /q3 -->

  <section class="q4">
    <div class="container">

      <!-- papper -->

      <object type="image/svg+xml" data="../public/img/animation/papper.svg" class="papper">
      </object>

      <img class="wrapper"src="../public/img/bg-img/wrapper4.png" alt="">

      <form class="quest4" id="form_radio4">
        <div class="form_radio form_radio-r">
          <input v-on:click="no" id="quest4-1" type="radio" name="quest4" value="1">
          <label for="quest4-1">Договорились, чтобы все сразу утвержала Людмила Космовская</label>
        </div>

        <div class="form_radio form_radio-r">
          <input v-on:click="yes" id="quest4-2" type="radio" name="quest4" value="2">
          <label for="quest4-2">Пересмотрели процесс и убрали лишние шаги в соглосовании</label>
        </div>

        <div class="form_radio form_radio-r">
          <input v-on:click="no" id="quest4-3" type="radio" name="quest4" value="2">
          <label for="quest4-3">Выделил 1 рабочий день в месяц, когда все сразу проверяется и согласовывается</label>
        </div>

        <div class="form_radio form_radio-r">
          <input v-on:click="no" id="quest4-4" type="radio" name="quest4" value="4">
          <label for="quest4-4">Ничего не сделали</label>
        </div>
      </form>

    </div> <!-- /container -->
  </section> <!-- /q4 -->

  <section class="q5" id="form_radio5">
    <div class="container">

      <img class="wrapper"src="../public/img/bg-img/wrapper5.png" alt="">

      <form class="quest5" id="form_radio5">
        <div class="form_radio form_radio-o">
          <input v-on:click="yes" id="quest5-1" type="radio" name="quest5" value="1">
          <label for="quest5-1">Создать робота, который опрашивает заказчика по вопросу возврата акта</label>
        </div>

        <div class="form_radio form_radio-o">
          <input v-on:click="no" id="quest5-2" type="radio" name="quest5" value="2">
          <label for="quest5-2">Договориться c финансистами не возвращать акты</label>
        </div>

        <div class="form_radio form_radio-o">
          <input v-on:click="no" id="quest5-3" type="radio" name="quest5" value="2">
          <label for="quest5-3">Никакая, проблема еще не решена</label>
        </div>

        <div class="form_radio form_radio-o">
          <input v-on:click="no" id="quest5-4" type="radio" name="quest5" value="4">
          <label for="quest5-4">Проблему решить невозможно</label>
        </div>
      </form>

    </div> <!-- /container -->
  </section> <!-- /q5 -->

  <section class="q6">
    <div class="container">

      <img class="wrapper" src="../public/img/bg-img/wrapper6.png" alt="">

      <form class="quest6" id="form_radio6">
        <div class="form_radio form_radio-b">
          <input v-on:click="no" id="quest6-1" type="radio" name="quest6" value="1">
          <label for="quest6-1">Зайду в Jive на страницу "Идей КРОК" и посмотрю идеи других коллег</label>
        </div>

        <div class="form_radio form_radio-b">
          <input v-on:click="yes" id="quest6-2" type="radio" name="quest6" value="2">
          <label for="quest6-2">Напишу вопрос на стикер "Как сделать лучше?" и повешу рядом,  переоидчески посматривая на него</label>
        </div>

        <div class="form_radio form_radio-b">
          <input v-on:click="no" id="quest6-3" type="radio" name="quest6" value="2">
          <label for="quest6-3">Выпишу проблемы и соберу команду для креатива</label>
        </div>

        <div class="form_radio form_radio-b">
          <input v-on:click="no" id="quest6-4" type="radio" name="quest6" value="4">
          <label for="quest6-4">Соберу всю фактуру по проблеме и поеду на воздух, чтобы отвлечься</label>
        </div>
      </form>

      <button class="btn btn__result">
        Результаты
      </button>

    </div> <!-- /container -->
  </section> <!-- /q6 -->


  <section class="mail">

      <div class="mail__inner">
        <img class="mail-q" src="../public/img/bg-img/wrapper-mail.png" alt="">

        <form class='mail__wrapper' action="/" method="POST">
          <input class="mail__input" type="mail" name="mail" id="mail" placeholder="Ваш email...">
        </form>

        <button v-on:click="result" class="btn btn__mail" id="btn" onclick="sendData()">
              Оставить!
        </button>
      </div>

  </section> <!-- mail -->

  <section v-if="visible" class="result1" id="result1">
    <div class="container">

      <div class="result__inner">
        <div class="result__counter">
          5,6 из 6
        </div>
        <div class="result__title result__title-b">
          Красавчик!
        </div>

        <div class="result__text">
          Ну это топ!
        </div>

        <div class="result__text lower">
          Ты точно на одной волне с рационализаторами и инноваторами. Продолжай оптимизировать процессы и делать КРОК лучше!
        </div>

        <div class="result__footer">
          Переходи на платформу
          <a class="idea__crock idea__crock-b" href="#" target="_black">«Идеи КРОК»</a> и следи за новостями.
        </div>
      </div>

    </div> <!-- container -->
  </section> <!-- result1 -->

  <section v-if="visible" class="result2" id="result2">
    <div class="container">

      <div class="result__inner">

        <div class="result__counter">
          3,4 из 6
        </div>

        <div class="result__title result__title-o">
          Not bad.
        </div>

        <div class="result__text">
          Неплохо-неплохо.
        </div>

        <div class="result__text lower">
          Ты думал, как настоящий генератор идей. Осталось поработать над прикладными решениями.
        </div>

        <div class="result__footer">
          Переходи на платформу
          <a class="idea__crock idea__crock-o" href="#" target="_black">«Идеи КРОК»</a> и следи за новостями.
        </div>
      </div>

    </div> <!-- container -->
  </section> <!-- result2 -->

  <section v-if="visible" class="result3" id="result3">
    <div class="container">

      <div class="result__inner">

        <div class="result__counter">
          0,1,2 из 6
        </div>

        <div class="result__title result__title-r">
          Ты<br> очень<br> креативный!
        </div>

        <div class="text__inner">
          <div class="result__text lower">
            … и точно с хорошим чувством юмора.
              Но над проработкой идей еще нужно
              подумать :)
          </div>

          <div class="result__footer">
            Переходи на платформу
            <a class="idea__crock idea__crock-r" href="#" target="_black">«Идеи КРОК»</a> и следи за новостями.
          </div>
        </div>  <!-- text__inner -->
      </div> <!-- result__inner -->

    </div> <!-- container -->
  </section> <!-- result3 -->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="../public/js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="../public/js/plugins.js"></script>
  <script src="../public/js/jquery.js"></script>
  <script src="../public/js/vue.js"></script>



  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>
</html>
